# apart from pre-installed conda packages
numpy==1.26.4
matplotlib==3.8.4
matplotlib-inline==0.1.7
opencv-python==4.10.0
opencv-python-headless==4.10.0
gymnasium==1.2.1
ale-py==0.11.2
pygame==2.6.1
torch==2.5.1+cu121
torchvision==0.20.1+cu121
AutoROM==0.6.1
swig==4.4.0
Box2D==2.3.10
pip==25.3